<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
 </configSections>
 <appSettings>
  <clear />
  <add key="DataFolder" value="Test\\DataCache" />
  <add key="LogSymbols" value="" />
  <add key="WebPort" value="8080" />
  <add key="WebFolder" value="..\..\www" />
  <add key="ServerCacheFolder" value="Test\\ServerCache" />
  <add key="LogTickStart" value="1983-05-24 15:59:00" />
  <add key="LogTickStop" value="1983-06-27 15:59:00.051" />
  <add key="StartTime" value="Wednesday, January 01, 1800" />
  <add key="EndTime" value="Thursday, July 23, 2009" />
  <add key="ModelLoader" value="Example: Reversal Multi-Symbol" />
  <add key="ServiceAddress" value="127.0.0.1" />
  <add key="ServicePort" value="6491" />
  <add key="ProviderAddress" value="SubProcess" />
  <add key="ProviderPort" value="6492" />
  <add key="ProviderAssembly" value="TickZoomCombinedMock" />
</appSettings>
 <log4net>
 	<appender name="StatsLogAppender" type="TickZoom.Logging.FileAppender">
		<file value="LogFolder\Stats.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
 	</appender>
 	<appender name="BarDataLogAppender" type="TickZoom.Logging.FileAppender">
		<file value="LogFolder\BarData.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
 	</appender>
 	<appender name="TradeLogAppender" type="TickZoom.Logging.FileAppender">
		<file value="LogFolder\Trades.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
 	</appender>
 	<appender name="TransactionLogAppender" type="TickZoom.Logging.FileAppender">
		<file value="LogFolder\Transactions.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
 	</appender>
 	<appender name="MockProviderTransactionLogAppender" type="TickZoom.Logging.FileAppender">
		<file value="LogFolder\MockProviderTransactions.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
 	</appender>
 	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
 		<threshold value="WARN"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger %property{Symbol} %property{TimeStamp} - %message%newline" />
		</layout>
 	</appender>
 	<appender name="DiagramAppender" type="TickZoom.Logging.FileAppender">
		<file value="LogFolder\Diagram.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
 	</appender>
	<appender name="FileAppender" type="TickZoom.Logging.FileAppender" >
		<file value="LogFolder\TickZoom.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<layout type="log4net.Layout.PatternLayout">
		    <converter>
		      <name value="datenow" />
		      <type value="log4net.Util.PatternStringConverters.DatePatternConverter,log4net" />
		    </converter>
			<!--conversionPattern value="%datenow %-5level %logger %property{Symbol} %property{TimeStamp} - %message%newline" /-->
			<conversionPattern value="%datenow %-5level %logger - %message%newline" />
		</layout>
 	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="FileAppender" />
	</root>
    <logger name="TradeLog">
        <level value="DEBUG" />
    	<additivity value="false" />
		<appender-ref ref="TradeLogAppender" />
 	</logger>
    <logger name="TransactionLog.Performance">
        <level value="DEBUG" />
    	<additivity value="false" />
		<appender-ref ref="TransactionLogAppender" />
 	</logger>
    <logger name="TransactionLog.MockProvider">
        <level value="DEBUG" />
    	<additivity value="false" />
		<appender-ref ref="MockProviderTransactionLogAppender" />
 	</logger>
    <logger name="StatsLog">
        <level value="DEBUG" />
    	<additivity value="false" />
		<appender-ref ref="StatsLogAppender" />
 	</logger>
    <logger name="BarDataLog">
        <level value="DEBUG" />
    	<additivity value="false" />
		<appender-ref ref="BarDataLogAppender" />
 	</logger>
    <logger name="Diagram">
        <level value="INFO" />
    	<additivity value="false" />
		<appender-ref ref="DiagramAppender" />
    </logger>
    <logger name="Diagram.TickZoom.Engine">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Starters">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Common">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Examples">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Interceptors">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Transactions">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Symbols">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Properties">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Statistics">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Reports">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Threading">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.HTTP">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.PriceData">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Internals">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Collections">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.ProviderService">
        <level value="INFO" />
 	</logger>
    <logger name="TickZoom.TickUtil">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.Internals">
        <level value="INFO" />
 	</logger>
    <logger name="TickZoom.Statistics">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.Engine.TickSimulator">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.ProviderService.SymbolHandlerMock">
        <level value="INFO" />
 	</logger>
    <logger name="TickZoom.Internals.OrderManager">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.SocketAPI">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.ProviderService">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.MBTQuotes">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.FIX">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.FIX.FIXPretradeFilter">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.Common">
        <level value="INFO" />
    </logger>
 	<!--
    <logger name="TickZoom.Common.Portfolio">
        <level value="DEBUG" />
    </logger>
    <logger name="TickZoom.Statistics.Performance">
        <level value="DEBUG" />
    </logger>
    <logger name="TickZoom.MBTFIX">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.FIX.FIXServerSymbolHandler">
        <level value="TRACE" />
    </logger>
    <logger name="TickZoom.MBTFIX">
        <level value="DEBUG" />
    </logger>    
    <logger name="TickZoom.ProviderService.SymbolHandlerMock">
        <level value="TRACE" />
    </logger>
    <logger name="TickZoom.Api.TickSync">
        <level value="TRACE" />
    </logger>
 	<logger name="TickZoom.Engine.Kernel">
        <level value="DEBUG" />
 	</logger>
    <logger name="TickZoom.Interceptors">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.MBTFIX.MBTFIXSimulator">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.MBTFIX.MBTFIXProvider">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.Api.TickSync">
        <level value="TRACE" />
    </logger>
    <logger name="TickZoom.Interceptors.FillSimulatorPhysical">
        <level value="TRACE" />
    </logger>
    <logger name="TickZoom.Common.OrderAlgorithmDefault">
        <level value="DEBUG" />
    </logger>
 	<logger name="TickZoom.Engine.SymbolController">
        <level value="DEBUG" />
 	</logger>
    <logger name="TickZoom.Api.TickSync">
        <level value="TRACE" />
    </logger>
    <logger name="TickZoom.Interceptors.FillSimulatorPhysical">
        <level value="TRACE" />
    </logger>
    <logger name="TickZoom.Common.OrderAlgorithmDefault">
        <level value="DEBUG" />
    </logger>
 	<logger name="TickZoom.Engine.SymbolController">
        <level value="DEBUG" />
 	</logger>
	-->
 </log4net>
</configuration>