<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
 </configSections>
 <appSettings>
  <clear />
  <add key="AutoUpdate" value="true" />
  <add key="DebugFactory" value="false" />
 	
 </appSettings>
 <log4net>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
 		<threshold value="WARN"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger %property{Symbol} %property{TimeStamp} - %message%newline" />
		</layout>
 	</appender>
	<appender name="FileAppender" type="TickZoom.Logging.FileAppender" >
		<file value="LogFolder\TZData.log" />
		<appendToFile value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ConsoleAppender" />
	</root>
    <logger name="TickZoom.TickUtil">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.Common">
        <level value="INFO" />
    </logger>
 </log4net>
</configuration>

