<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
  <clear />
  <add key="startTime" value="Wednesday, January 01, 2003" />
  <add key="EndTime" value="Saturday, February 28, 2009" />
  <add key="Symbol" value="USD/JPY" />
  <add key="UseModelLoader" value="true" />
  <add key="ModelLoader" value="Example: Simple Multi-Symbol" />
  <add key="Model" value="ExampleReversalStrategy" />
  <add key="TickZoomEngine" value="" />
  <add key="defaultBox" value="1" />
  <add key="defaultCombo" value="Hour" />
  <add key="engineBarsBox" value="1" />
  <add key="engineBarsBox2" value="1" />
  <add key="engineBarsCombo" value="Hour" />
  <add key="engineBarsCombo2" value="Hour" />
  <add key="chartDisplayBox" value="1" />
  <add key="chartDisplayCombo" value="Hour" />
  <add key="chartBarsBox" value="1" />
  <add key="chartBarsCombo" value="Hour" />
  <add key="chartBarsBox2" value="1" />
  <add key="chartBarsCombo2" value="Hour" />
  <add key="chartUpdateBox" value="1" />
  <add key="chartUpdateCombo" value="Hour" />
 </appSettings>
</configuration>

