<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
 </configSections>
 <appSettings>
  <clear />
  <add key="DataFolder" value="TestData" />
  <add key="WebPort" value="8080"/>
  <add key="WebFolder" value="..\..\www" />
  <add key="ServerCacheFolder" value="TestServerCache" />
  <!-- 0.0.0.0 means the service will listen to any ip
       address. Set it to a specific IP address if your
       computer has more than one and you only want the
       service to repond to one of them. -->
  <add key="ServiceAddress" value="0.0.0.0" />
  <!-- The following port was unassigned by the IANA as 
       of March 11, 2009. You may change the port if it
       conflicts or due to firewall issues. Simply change
       the TickZOOM client ports to match. -->
  <add key="ServicePort" value="6490"/>
 </appSettings>
 <log4net>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger %property{Symbol} %property{TimeStamp} - %message%newline" />
		</layout>
 	</appender>
	<appender name="FileAppender" type="TickZoom.Logging.FileAppender" >
		<file value="LogFolder\TickZoomWarehouse.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger %property{Symbol} %property{TimeStamp} - %message%newline" />
		</layout>
 	</appender>
 	<appender name="DiagramAppender" type="TickZoom.Logging.FileAppender">
		<file value="LogFolder\Diagram.log" />
		<appendToFile value="true" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
 	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="FileAppender" />
	</root>
    <logger name="Diagram">
        <level value="DEBUG" />
    	<additivity value="false" />
		<appender-ref ref="DiagramAppender" />
    </logger>
    <logger name="Diagram.TickZoom.Engine">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Starters">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Common">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Examples">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Interceptors">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Transactions">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Symbols">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Properties">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Statistics">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Reports">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Threading">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.HTTP">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.PriceData">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Internals">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.Collections">
        <level value="INFO" />
    </logger>
    <logger name="Diagram.TickZoom.ProviderService">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.ProviderService">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.SocketAPI">
        <level value="INFO" />
    </logger>
 </log4net>
</configuration>