<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
 </configSections>
 <appSettings>
  <clear />
  <add key="DebugFactory" value="false" />
  <add key="LogRecovery" value="false" />
  <add key="ServiceAddress" value="127.0.0.1" />
  <add key="ServicePort" value="6491" />
  <add key="ConnectAddress" value="127.0.0.1" />
  <add key="ConnectPort" value="6491" />
  <add key="ProviderAssembly" value="MBTFIXProvider" />
 </appSettings>
 <log4net>
 	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger %property{Symbol} %property{TimeStamp} - %message%newline" />
		</layout>
 	</appender>
	<appender name="FileAppender" type="TickZoom.Logging.FileAppender" >
		<file value="LogFolder\MBTFIXProvider.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
		</layout>
 	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ConsoleAppender" />
	</root>
    <logger name="TickZoom.SocketAPI">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.ProviderService">
        <level value="DEBUG" />
    </logger>
    <logger name="TickZoom.MBTFIX">
        <level value="DEBUG" />
    </logger>
    <logger name="TickZoom.Common">
        <level value="DEBUG" />
    </logger>
 </log4net>
</configuration>



