<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
 </configSections>
 <appSettings>
  <clear />
  <add key="StartTime" value="Wednesday, January 01, 1800" />
  <add key="EndTime" value="Thursday, July 23, 2009" />
  <add key="AutoUpdate" value="false" />
  <add key="RunUpdate" value="false" />
  <add key="Symbol" value="GBP/USD,EUR/JPY" />
  <add key="UseModelLoader" value="true" />
  <add key="ModelLoader" value="Example: Simple Multi-Symbol" />
  <add key="Model" value="ExampleReversalStrategy" />
  <add key="TickZoomProfiler" value="false" />
  <add key="defaultBox" value="1" />
  <add key="defaultCombo" value="Hour" />
  <add key="engineBarsBox" value="1" />
  <add key="engineBarsBox2" value="1" />
  <add key="engineBarsCombo" value="Hour" />
  <add key="engineBarsCombo2" value="Hour" />
  <add key="chartDisplayBox" value="1" />
  <add key="chartDisplayCombo" value="Hour" />
  <add key="chartBarsBox" value="1" />
  <add key="chartBarsCombo" value="Hour" />
  <add key="chartBarsBox2" value="1" />
  <add key="chartBarsCombo2" value="Hour" />
  <add key="chartUpdateBox" value="1" />
  <add key="chartUpdateCombo" value="Hour" />
  <add key="WebPort" value="8080" />
  <add key="WebFolder" value="..\..\www" />
  <add key="LogSymbols" value="" />
  <add key="LogTickStart" value="" />
  <add key="LogTickStop" value="" />
	
  <add key="ServiceAddress" value="127.0.0.1" />
  <add key="ServicePort" value="6491" />
  <add key="ProviderAssembly" value="MBTradingService"/>
 	
 </appSettings>
 <log4net>
 	<appender name="StatsLogAppender" type="TickZoom.Logging.FileAppender">
		<file value="LogFolder\Stats.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
 	</appender>
 	<appender name="BarDataLogAppender" type="TickZoom.Logging.FileAppender">
		<file value="LogFolder\BarData.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
 	</appender>
 	<appender name="TradeLogAppender" type="TickZoom.Logging.FileAppender">
		<file value="LogFolder\Trades.log" />
		<appendToFile value="false" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%message%newline" />
		</layout>
 	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
 		<threshold value="WARN"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger %property{Symbol} %property{TimeStamp} - %message%newline" />
		</layout>
 	</appender>
	<appender name="FileAppender" type="TickZoom.Logging.FileAppender" >
		<file value="LogFolder\TickZoom.log" />
		<appendToFile value="false" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="INFO" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ConsoleAppender" />
	</root>
    <logger name="StatsLog">
        <level value="DEBUG" />
    	<additivity value="false" />
		<appender-ref ref="StatsLogAppender" />
 	</logger>
    <logger name="TradeLog">
        <level value="DEBUG" />
    	<additivity value="false" />
		<appender-ref ref="TradeLogAppender" />
 	</logger>
    <logger name="BarDataLog">
        <level value="DEBUG" />
    	<additivity value="false" />
		<appender-ref ref="BarDataLogAppender" />
 	</logger>
    <logger name="TickZoom.Engine.Engine">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.Engine.Data">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.TickUtil">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.Engine.Kernel">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.Async">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.Starters">
        <level value="DEBUG" />
    </logger>
    <logger name="TickZoom.Common">
        <level value="INFO" />
    </logger>
    <logger name="TickZoom.Provider">
        <level value="INFO" />
    </logger>
 	<!--
 	<logger name="TickZoom.Internals.OrderGroup">
        <level value="DEBUG" />
 	</logger>
 	<logger name="TickZoom.Engine.SymbolController">
        <level value="DEBUG" />
 	</logger>
    <logger name="TickZoom.Interceptors.FillSimulatorPhysical">
        <level value="DEBUG" />
    </logger>
    <logger name="TickZoom.Common.OrderAlgorithm">
        <level value="DEBUG" />
    </logger>
 	<logger name="TickZoom.Interceptors.FillHandlerDefault">
        <level value="DEBUG" />
 	</logger>
 	-->
 </log4net>
</configuration>